@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


/* Color Pallet */
:root {
    --box:#FE8A7E;
    --box-hover:#C1554D;
    --click:#FDBB0D;
    --click-hover:#CA7900;
    --number:#373737;
}




* {
    box-sizing: border-box;
}


body {
    background-color: #FFC1B3;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    padding: 80px;
    margin: 0;
}


.box-container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}


/* Numbers */
.numbers {
    font-size: 40px;
    color: var(--number);
    border:none;
    width: 130px;
    height: 130px;
}

.number-box {
    margin-top: 17px;
    border-radius: 16px;
    background-color: var(--box);

}
.number-box:hover {
    background-color: var(--box-hover);
    color: #00CEFF;
    cursor: pointer;
}


/* Click Section */
.click-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--click);

}
.click-btn:hover {
    background-color: var(--click-hover);
    cursor: pointer;
    color: aqua;
    /* border:5px solid red; */
    

}
.arrow{
    margin-left: 4px;
    position: relative;
    bottom: 2px;
    font-size: 30px;
}
.click-h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    border: 5px solid red;
    border-radius: 15px;
    padding: 8px;
    position: relative;
    bottom: 17px;
    margin-bottom: 10px;
}

.onclick{
    background-color: white;
}


/* Headings */
h3 {
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}











