@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html {
  cursor: none;
}

* {
  box-sizing: border-box;
}

.small-circle {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: none;
  position: absolute;
  border: 3px solid #c71e09;
  z-index: 0;
  opacity: 1;
  animation: pulse 2s ease-in-out infinite;
}

.dot {
  width: 3px;
  height: 3px;
  border-radius: 50px;
  background-color: rgb(106, 255, 0);
  z-index: 999;
  position: absolute;
}

body {
  background-color: #000000;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  padding: 10px;
}

.text {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  flex-wrap: wrap;
  z-index: 10;
  color: blue;
}

h1 {
  margin: 30px;
  z-index: 1;
  color: black;
}



/* main animation */
.pulse-animation {
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);

    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    background-color: #c71e09;

    opacity: 0;
  }

  100% {
    transform: scale(1);

    opacity: 1;
  }
}


/* grow on move animation */
.grow-animation {
  animation: grow 0.5s ease-in-out forwards;
}

@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    background-color: #c71e09;
    opacity: 1;
  }

  100% {
    transform: scale(3);
    background-color: #c71e09;
    opacity: 1;
  }
}

/* main shrink animation */
.grow3-animation {
  animation: grow3 0.5s ease-in-out forwards;
}

@keyframes grow3 {
  0% {
    transform: scale(3);
    background-color: #c71e09;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    background-color: #c71e09;
    opacity: 1;
  }
}

/* click grow on big circle */
.grow1-animation {
  animation: grow1 3.8s ease-in-out forwards;
  border: none;
  opacity: 1;
}

@keyframes grow1 {
  0%,
  20% {
    transform: scale(3);
    background-color: #c71e09;

    opacity: 1;
  }

  30%,
  80% {
    transform: scale(5);
    background-color: #01f702;
    opacity: 1;
  }

  90%,
  100% {
    transform: scale(1.1);
    background-color: #c71e09;
    opacity: 1;
  }
}
 /* click grow on small circle */
.grow2-animation {
  animation: grow2 3.8s ease-in-out forwards;
  border: none;
  opacity: 1;
}

@keyframes grow2 {
  0%,
  10% {
    transform: scale(1);
    background-color: #c71e09;
    opacity: 1;
  }

  20%,
  80% {
    transform: scale(5);
    background-color: rgb(0, 136, 255);
    opacity: 1;
  }
  90%,
  100% {
    transform: scale(1.1);
    background-color: #c71e09;
    opacity: 1;
  }
}
